.row {
  align-items: center;
}

.navbar-nav li,
a {
  font-weight: 700;
  color: #fff !important;
}

.App-logo img {
  width: 60% !important;
}

.App-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App-session {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

@media (max-width: 992px) {
  .App-menu {
    position: fixed;
    bottom: 0;
    background-color: #198754;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .App-menu > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .App-logo a {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .App-session {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
