.Footer-App {
  position: relative;
  bottom: 0;
}

.Footer-img img {
  width: 10% !important;
}

.col-12 p {
  color: #fff !important;
}

.sugerency a,
.sugerency li {
  color: #fff;
  list-style: none;
  text-decoration: none;
}

.sugerency a:hover {
  text-decoration: underline;
}
