.Card-Item-Menu {
  border: 1px solid #000;
  border-radius: 10px;
  overflow: hidden;
}

.Card-img-menu {
  overflow: hidden;
  align-items: center;
  padding: 0px !important;
  width: 180px;
  height: 180px;
}
