body {
  margin: 0;
  font-family: "Open sans";
  font-size: 14px !important;
}

code {
  font-family: "Open sans";
}

h3 {
  font-size: 18px !important;
  color: #000;
}

p {
  font-weight: 500;
  color: rgb(83, 83, 83);
}

.form-control:focus {
  border-color: #198754 !important;
  box-shadow: 0 0 0 0.2rem rgba(29, 99, 45, 0.25) !important;
}
